* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    background-color: chocolate;
    min-height: 100vh;
    min-width: 100vw;
}

.headingWrapper {
    padding: 30px 0;
}

.heading {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: rgba(46, 16, 2, 0.918);
}

.textAreaEncloser {
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-evenly;
}

.textAreaWrapper {
    flex-basis: 45%;
    min-height: 100%;
    resize: none;
    padding: 10px;
}

.textAreaWrapper::placeholder {
    color: rgb(6, 80, 6);
}

.inputWrapper {
    composes: textAreaWrapper;
    background-color: cadetblue;
}

.outputWrapper {
    composes: textAreaWrapper;
    background-color: rgb(75, 124, 156);
}